///////////////
// variables //
///////////////


// typography
$sans:								"Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif:								"Charter", Georgia, "Times New Roman", Times, serif !default;
$slab:								Courier, "prestige-elite-std";
$base_font_size:			20px;

// colors
$scbc_black: #222;
$scbc_white: #fff;


//////////////
// elements //
//////////////

body {
  font-size: $base_font_size;
	line-height: ($base_font_size*1.4);
  font-family: $serif;
  color: $scbc_black;
  margin: 0;
  padding: 0;
  background: $scbc_white;
}

h1 {
	font-family: $sans;
	font-weight: bold;
	font-size: 3.6em; // 72px
	letter-spacing: -2px;
}

h2 {
//	font-family: $sans;
//	font-weight: 100;
//	font-size: 3.2em; // 64px
//	letter-spacing: -2px;
	font-family: $sans;
	font-weight: 300;
	font-size: 2.4em; // 48px
	letter-spacing: -1px;
}

h3 {
	font-family: $sans;
	font-weight: bold;
	font-size: 1.4em; // 28px
	letter-spacing: -1px;
	text-transform: uppercase;
}

h4 {
	font-family: $slab;
	font-weight: bold;
	font-size: 1.4em; // 28px
	letter-spacing: -1px;
	text-transform: uppercase;
}

h5 {
	font-family: $serif;
	font-weight: bold;
	font-size: 1.4em; // 28px
}

//////////////////////
// ultility classes //
//////////////////////

.black { 
	color: $scbc_black;
}

.white {
	color: $scbc_white;
}

.slab {
	font-family: $slab;
}

.small {
	font-size: .8em;
}

.centered {
	text-align: center;
}

.btn-default {
	font-family: $sans;
	font-weight: bold;
	color: $scbc_black;
	border-radius: 0;
	background: $scbc_white;
	border: 1px solid $scbc_black;
	font-size: 1.4em;
	padding: .5em 1.5em;
	&:hover {
		background: $scbc_white;
	}
}

/////////////
// classes //
/////////////

.navbar-default {
	background: none;
	border: none;
	a:hover.navbar-brand {
		color: $scbc_white;
	}
	.navbar-nav {
		float: right;
	}
	.navbar-brand,
	.navbar-nav {
		font-size: .8em;
		font-family: $sans;
		font-weight: bold;
		color: white;
		li {
			a {
				font-family: $sans;
				font-weight: bold;
				color: white;
				&:hover {
					color: white;
				}
			}
		}
	}
}

#hero,
#services,
#contact {
	background-color: $scbc_black;
	color: $scbc_white;
	padding: 0 0 3em 0;
	p {
		font-family: $slab;
		font-size: .6em;
	}
}

#give {
	background: $scbc_white;
	color: $scbc_black;
	padding: 3em 0;
}

.give_btn {
	display: inline-block;
	margin-top: 1em;
}

#hero {
	background-image: url('jwaftg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#services {
	padding: 3em 0;
}

.service_time {
	font-family: $sans;
	font-size: 3em;
	font-weight: bold;
	color: $scbc_white;
	float: left;
	margin: .6em 1em 0 0;
	color: #999;
	.ampm {
		font-size: .2em;
		font-weight: normal;
		float: right;
		margin: 19px 0 0 5px;
	}
}

a.vcard {
	font-family: $slab;
	font-size: .6em;
	text-decoration: none;
	color: $scbc_white;
	line-height: 15px;
	&:hover {
		text-decoration: none;
	}
	.title {
		font-weight: bold;
		text-transform: uppercase;
		display: block;
	}
	.street-address {
		font-weight: normal;
		display: block;		
	}
	.locality {
		font-weight: normal;
		display: inline-block;
	}
	.postal-code {
		font-weight: normal;
		display: inline-block;
		margin-left: 6px;
	}
}

.map {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
	}
}
